<div class="div-fuera">
    <div class="full-height">
        <div class="user-profile">
            <a class="btn btn-primary" type="submit" role="button" (click)="volver()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>
                <span> Volver </span>
            </a>
            <h3>Información Personal</h3>
            <div class="personal-info">
                <div class="photo-datos">
                    <img src="../../../assets/perfil.jpg" alt="Foto de perfil">
                    <div class="nombre-direcc">
                        <h2>{{ amigo.nombre }} {{ amigo.apellido }}</h2>
                        <label>Dirección: {{ direccion.calle }} {{direccion.numero}} Esquina {{ direccion.esquina}}, {{
                            barrio.nombre }}</label>
                    </div>
                </div>
            </div>


            <div class="skills">
                <h3>Habilidades:</h3>

                <div *ngFor="let skill of habilidades">
                    <label>{{skill.nombre}}</label>
                </div>

            </div>

            <div class="publications">
                <h3>Publicaciones:</h3>
                <div class="publication-cards">
                    <div class="card" *ngFor="let publication of publicaciones">
                        <app-publicacion [publicacion]=publication></app-publicacion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>