<div class="div-fuera">
  <div class="full-height">
    <div class="grid-container">
      <div class="columna">
        <h3>Solicitudes de Servicios</h3>
        <br>
        <div id="catalogoSolicitudesTrabajos" *ngFor="let xCita of this.solicitudesCitas">
          <app-solicitud-servicios [cita]="xCita" [consulto] = true (avisar)="onCitaAvisada()" [flag]="true"></app-solicitud-servicios>
        </div>
      </div>
      <div class="columna">
        <h3>Solicitudes de Amistad</h3>
        <br>
        <div id="catalogoSolicitudesAmistad" *ngFor="let xAmigo of this.amigos">
          <app-solicitud-amistad [amigo]="xAmigo" (actualizar)="onSolicitudesActualizadas()"></app-solicitud-amistad>
        </div>
      </div>
    </div>
  </div>
</div>
