.full-height {
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.columna {
  background-color: #f0f0f0;
  padding: 50px;
  padding-top: 100px;
  text-align: center; /* Alineación del texto al centro */
}
